@model FinancialForecast.MVC.Models.Deposit

@{
    ViewBag.Title = "Deposits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="Deposits">
        <div class="row">
            <div id="alert" class="col-12 alert fade-appear form-centered" v-bind:class="errorMessage ? 'alert-danger' : 'alert-success'" v-if="alertMessage">
                <a href="#" class="btn-close" data-dismiss="alert" aria-label="close">&times;</a>
                {{alertMessage}}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 text-center"> 
              @*  @if (isElevated || isAdmin)
                {*@ 
                    <button type="button" @@click="openCreateModal()" class="btn btn-success" data-toggle="modal" data-target="#DepositCreateModal"><i class="fas fa-dollar-sign"></i> New Deposit</button>
                    <button type="button" @@click="openEditModal()" class="btn btn-info" data-toggle="modal" data-target="#DepositEditModal" v-bind:disabled="selectedDeposit === null"><i class="fas fa-money-bill-wave"></i> Edit Deposit</button>
                  @*  <button type="button" @@click="openSecurityModal()" class="btn btn-danger" data-toggle="modal" data-target="#DepositSecurityModal" v-bind:disabled="selectedDeposit === null"><i class="fas fa-Deposit-lock"></i> Reset Security Info</button>
                }*@
            </div>
        </div>
        <div class="row col-12 mt-5">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th v-for="col in columns" v-if="col !== 'id' && col !== 'UserID'">                               
                                {{col}}                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="Deposit in Deposits" v-on:click="DepositClicked(Deposit)" :class="{'row-highlight': (Deposit == selectedDeposit)}">
                            <td v-for="col in columns" v-if="col !== 'id' && col !== 'UserID'" v-bind:type="Deposit[col] == 'Active' ? 'checkbox': 'text'">
                                <input type="checkbox" v-bind:checked = "Deposit['Active'] == true" v-if ="col == 'Active'" disabled />
                                <input type="checkbox" v-bind:checked = "Deposit['Recurring'] == true" v-if ="col == 'Recurring'" disabled />
                                <div v-if="col != 'Active' && col != 'Recurring'">{{Deposit[col]}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        

@Html.Partial("~/Views/Deposit/PartialViews/_CreateDeposit.cshtml")
@Html.Partial("~/Views/Deposit/PartialViews/_EditDeposit.cshtml")
@*@Html.Partial("~/Views/Deposits/PartialViews/_EditSecurityInfo.cshtml")*@

@section Scripts{
    <script>
        var baseURL = '@ViewBag.BaseURL';
        //'@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
        //var SecurityQuestions = '@ViewBag.SecurityQuestions'
    </script>
    <script src="@Url.Content("~/js/Deposit.Js?v="+DateTime.Now.Ticks)"></script>
}
