@model FinancialForecast.MVC.Models.User

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="users">
        <div class="row">
            <div id="alert" class="col-12 alert fade-appear form-centered" v-bind:class="errorMessage ? 'alert-danger' : 'alert-success'" v-if="alertMessage">
                <a href="#" class="btn-close" data-dismiss="alert" aria-label="close">&times;</a>
                {{alertMessage}}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 text-center"> 
              @*  @if (isElevated || isAdmin)
                {*@
                    <button type="button" @@click="openCreateModal()" class="btn btn-success" data-toggle="modal" data-target="#userCreateModal"><i class="fas fa-user"></i> New User</button>
                    <button type="button" @@click="openEditModal()" class="btn btn-info" data-toggle="modal" data-target="#userEditModal" v-bind:disabled="selectedUser === null"><i class="fas fa-user-edit"></i> Edit User</button>
                  @*  <button type="button" @@click="openSecurityModal()" class="btn btn-danger" data-toggle="modal" data-target="#userSecurityModal" v-bind:disabled="selectedUser === null"><i class="fas fa-user-lock"></i> Reset Security Info</button>
                }*@
            </div>
        </div>
        <div class="row col-12 mt-5">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th v-for="col in columns" v-if="col !== 'UserID' && col !== 'Password'">
                                {{col}}                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users" v-on:click="userClicked(user)" :class="{'row-highlight': (user == selectedUser)}">
                            <td v-for="col in columns" v-if="col !== 'UserID' && col !== 'Password'" v-bind:type="user[col] == 'Active' ? 'checkbox': 'text'">
                                <div>{{user[col]}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        

@Html.Partial("~/Views/Users/PartialViews/_CreateUser.cshtml")
@Html.Partial("~/Views/Users/PartialViews/_EditUser.cshtml")
@*@Html.Partial("~/Views/Users/PartialViews/_EditSecurityInfo.cshtml")*@

@section Scripts{
    <script>
        var baseURL = '@ViewBag.BaseURL';
        //'@System.Configuration.ConfigurationManager.AppSettings["BaseURL"]';
        //var SecurityQuestions = '@ViewBag.SecurityQuestions'
    </script>
    <script src="@Url.Content("~/js/UsersController.Js?v="+DateTime.Now.Ticks)"></script>
}
